@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #262626;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #262626;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 5px;
}
.btn-yellow:hover {
  background-color: #262626;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #262626;
  color: #262626;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 5px;
}
.btn-transparent:hover {
  background-color: #262626;
  color: #F0EFE9;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
header .container .menu-bar {
  background-color: transparent;
  border: none;
  font-size: 35px;
}
@media (min-width: 992px) {
  header .container .menu-bar {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .contact-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .contact-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .contact-menu .contact-information .content {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 3px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
header .container .menu .contact-menu .contact-information .content i {
  font-size: 1.2em;
  margin-right: 5px;
}
header .container .menu .contact-menu .contact-information .content.last {
  border: none;
}
header .container .menu .contact-menu .social-media a {
  color: #262626;
  font-size: 1.2em;
  margin-left: 8px;
}
header .container .menu .contact-menu .social-media a:hover {
  color: grey;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #262626;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #262626;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
@media (min-width: 2500px) {
  header .container {
    width: 2048px;
  }
}

.showcase {
  background-color: #F0EFE9;
  padding: 16px;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 86px;
  font-weight: 700;
}
.showcase .container .content p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
}
.showcase .container .content a {
  margin-right: 15px;
  padding-top: 15px;
}
.showcase .container img {
  margin-right: -50px;
}